body{
    /* background-color:whitesmo; */
  
    margin: 0;
    padding: 0;
}
.text-center{
    text-align: center;
}
.form-control{
    display: block;
    font-size: 16px;
    padding: 5px 10px;
    width: 250px;
    margin-bottom: 20px;
   
}
.btn{
    background-color: black;
    border: none;
    border-radius: 10px;
    min-width: 100px;
    font-size: 20px;
    padding: 10px 20px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.Link-text{
    text-align: center;
}
.link{
    text-decoration: none;
}
.text-right{
    text-align: right;
}