.form-conatainer{
    width: fit-content;
    background-color: white;
    margin: 30px auto;
    padding: 10px 50px;
    border-radius: 10px;
    /* box-shadow: 0px 0px 10px 0px lightgray; */
}
.form-sub-container{
    display: block;
    
}
.gender{
    margin-left: 20px;
}
.signup-btn{
    display: block;
    margin: 10px auto;
    width: 150px;
}

.signup-container{
    display: flex;
    height:630px;
    padding-right: 40px;
    width: fit-content;
    margin-top: 20px;
    margin-left:250px;
    box-shadow: 0px 0px 10px 2px lightsalmon;
}
.signup-img{
    height: 500px;
    width: 600px;
}